#header {
	position: fixed;
	color: white;
	display: block;
	top: 1px;
	width: 100%;
	height: 80px;
}
#header h1 {
	text-align: center;
}
body {
	background-image: url(../imagenes/fondopuma.jpg);
}
#main {
	text-align: center;
	padding-top: 110px;
	width: 100%;
	display: block;
}

#footer {
	color: white;
	text-align: center;
	position: fixed;
	bottom: 1px;
	width: 100%;
	display: block;
}
h1 {
	font-family: Impact;
}
h4 {
	text-align: center;
}
a {
	text-decoration: none;
	color: gray;
	font-size: 14px;
}
a:hover {
	color: green;
	font-weight: bold;
}